@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --preto: #000000;
    --cinza: #CCCCCC;
    --amarelo-neon: #DAFF01;
    --roxo-vivo: #9353FF;
    --fonte-principal: 'Inter', sans-serif;
}
 .posicao{
    top: 40% !important;
}
.divs-facilidades{
    width: 20.313rem;
}
.rodape{
    text-align: center;
    color: #fff;
    background-color: #000;
    font-family: "Inter", sans-serif;
    font-size: 1.1rem;  
}
